
  <div class="row">
    <div class="col-xs-12">
      <h2>API Token</h2>
      <%= token_button @user %>
    </div>
  </div>
  <div class="row">
      <label for="user_token" class="token"><h4>API Token:</h4></label>
      <div class="col-xs-12">
        <%= text_field(:user, :token, class: "form-control", readonly: true) %>
      </div>
  </div>
  <br/>
  <div class="row">
    <h4>GET Gifs</h4>
    <p> </p>
    <div class="col-xs-12">
      <div class="well well-sm">
        http://reactif.me/api/gifs.json?q=<code>search terms</code>&token=<code>your token</code>
      </div>
      it will return an object like this one:
      <div class="well well-sm">
        {<br/>
          "word": "word",<br/>
          "url": "http://www.reactiongifs.com/wp-content/uploads/2012/12/you-got-it-dude.gif"<br/>
        }
      </div>
    </div>
  </div>