<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Domain</td>
                <td>Web Hook</td>
            </tr>
        </thead>
        <tbody>
            <% unless @teams.empty? %>
                <% @teams.each do |team| %>
                    <%= render 'team_row', team: team  unless team.new_record? %>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>