---
http_interactions:
- request:
    method: get
    uri: http://www.reactiongifs.com/?s=dude&submit=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Pingback:
      - http://www.reactiongifs.com/xmlrpc.php
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head profile=\"http://gmpg.org/xfn/11\">\n<title>You
        searched for dude - Reaction GIFs</title>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\"/>\n<script type=\"text/javascript\">\n//<![CDATA[\ntry{if
        (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:\"cf\",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:\"/cdn-cgi/nexp/dok3v=1613a3a185/\"},atok:\"345c2e382d58f4d6dee28516f74a2686\",petok:\"5112f7ad6271bfe008f80e47c67b69eb1d742266-1432218646-1800\",zone:\"reactiongifs.com\",rocket:\"0\",apps:{\"abetterbrowser\":{\"ie\":\"7\"}}}];!function(a,b){a=document.createElement(\"script\"),b=document.getElementsByTagName(\"script\")[0],a.async=!0,a.src=\"//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=7e13c32551/cloudflare.min.js\",b.parentNode.insertBefore(a,b)}()}}catch(e){};\n//]]>\n</script>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"http://www.reactiongifs.com/wp-content/themes/skeptical/style.css\"
        media=\"screen\"/>\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"RSS
        2.0\" href=\"http://www.reactiongifs.com/feed/\"/>\n<link rel=\"pingback\"
        href=\"http://www.reactiongifs.com/xmlrpc.php\"/>\n \n<meta name=\"robots\"
        content=\"noindex,follow\"/>\n<link rel=\"canonical\" href=\"http://www.reactiongifs.com/search/dude/\"/>\n<link
        rel=\"next\" href=\"http://www.reactiongifs.com/search/dude/page/2/\"/>\n<meta
        property=\"og:locale\" content=\"en_US\"/>\n<meta property=\"og:type\" content=\"object\"/>\n<meta
        property=\"og:title\" content=\"You searched for dude - Reaction GIFs\"/>\n<meta
        property=\"og:url\" content=\"http://www.reactiongifs.com/search/dude/\"/>\n<meta
        property=\"og:site_name\" content=\"Reaction GIFs\"/>\n<meta property=\"article:publisher\"
        content=\"http://www.facebook.com/reactiongif\"/>\n<meta property=\"fb:admins\"
        content=\"502908366\"/>\n<script type='application/ld+json'>{\"@context\":\"http:\\/\\/schema.org\",\"@type\":\"WebSite\",\"url\":\"http:\\/\\/www.reactiongifs.com\\/\",\"name\":\"Reaction
        GIFs\"}</script>\n \n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Reaction GIFs &raquo; Search Results for &#8220;dude&#8221; Feed\"
        href=\"http://www.reactiongifs.com/search/dude/feed/rss2/\"/>\n<link rel='stylesheet'
        id='post-plugin-css' href='http://www.reactiongifs.com/wp-content/plugins/post/post-plugin.css?ver=1'
        type='text/css' media='all'/>\n \n<script type=\"text/javascript\">\n\n\tvar
        _gaq = _gaq || [];\n\t_gaq.[...]
- request:
    method: post
    uri: http://hooks.slack.com/services/T0383B6CH/B04RRMZ1E/
    body:
      encoding: UTF-8
      string: payload=%7B%22username%22%3A%22litzy%22%2C%22channel%22%3A%22%23testing_reactif%22%2C%22text%22%3A%22%5Cu003chttp%3A%2F%2Fwww.reactiongifs.com%2Fwp-content%2Fuploads%2F2013%2F05%2FDudeWaiting.gif%3F436%7C%20%2Freactif%20dude%5Cu003e%22%7D
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://hooks.slack.com/services/T0383B6CH/B04RRMZ1E/
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 21 May 2015 14:30:46 GMT
- request:
    method: get
    uri: https://hooks.slack.com/services/T0383B6CH/B04RRMZ1E/
    body:
      encoding: UTF-8
      string: payload=%7B%22username%22%3A%22litzy%22%2C%22channel%22%3A%22%23testing_reactif%22%2C%22text%22%3A%22%5Cu003chttp%3A%2F%2Fwww.reactiongifs.com%2Fwp-content%2Fuploads%2F2013%2F05%2FDudeWaiting.gif%3F436%7C%20%2Freactif%20dude%5Cu003e%22%7D
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: No token
  recorded_at: Thu, 21 May 2015 14:30:47 GMT
[...]
- request:
    method: get
    uri: https://hooks.slack.com/services/T0383B6CH/B04RRMZ1E/
    body:
      encoding: UTF-8
      string: payload=%7B%22username%22%3A%22Reactif%22%2C%22channel%22%3A%22%23testing_reactif%22%2C%22text%22%3A%22The%20previous%20gif%20was%20downvoted%2C%20total%20votes%3A%2025%22%7D
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: No token
  recorded_at: Fri, 29 May 2015 14:30:48 GMT
recorded_with: VCR 2.9.3
