---
http_interactions:
- request:
    method: get
    uri: http://www.reactiongifs.com/?s=asdadas&submit=Search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Pingback:
      - http://www.reactiongifs.com/xmlrpc.php
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head profile=\"http://gmpg.org/xfn/11\">\n<title>You
        searched for asdadas - Reaction GIFs</title>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\"/>\n<script type=\"text/javascript\">\n//<![CDATA[\ntry{if
        (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:\"cf\",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:\"/cdn-cgi/nexp/dok3v=1613a3a185/\"},atok:\"345c2e382d58f4d6dee28516f74a2686\",petok:\"33518a9ec2738a1f4e2504db0e28de3cbef482d6-1432218640-1800\",zone:\"reactiongifs.com\",rocket:\"0\",apps:{\"abetterbrowser\":{\"ie\":\"7\"}}}];!function(a,b){a=document.createElement(\"script\"),b=document.getElementsByTagName(\"script\")[0],a.async=!0,a.src=\"//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=7e13c32551/cloudflare.min.js\",b.parentNode.insertBefore(a,b)}()}}catch(e){};\n//]]>\n</script>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"http://www.reactiongifs.com/wp-content/themes/skeptical/style.css\"
        media=\"screen\"/>\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"RSS
        2.0\" href=\"http://www.reactiongifs.com/feed/\"/>\n<link rel=\"pingback\"
        href=\"http://www.reactiongifs.com/xmlrpc.php\"/>\n \n<meta name=\"robots\"
        content=\"noindex,follow\"/>\n<link rel=\"canonical\" href=\"http://www.reactiongifs.com/search/asdadas/\"/>\n<meta
        property=\"og:locale\" content=\"en_US\"/>\n<meta property=\"og:type\" content=\"object\"/>\n<meta
        property=\"og:title\" content=\"You searched for asdadas - Reaction GIFs\"/>\n<meta
        property=\"og:url\" content=\"http://www.reactiongifs.com/search/asdadas/\"/>\n<meta
        property=\"og:site_name\" content=\"Reaction GIFs\"/>\n<meta property=\"article:publisher\"
        content=\"http://www.facebook.com/reactiongif\"/>\n<meta property=\"fb:admins\"
        content=\"502908366\"/>\n<script type='application/ld+json'>{\"@context\":\"http:\\/\\/schema.org\",\"@type\":\"WebSite\",\"url\":\"http:\\/\\/www.reactiongifs.com\\/\",\"name\":\"Reaction
        GIFs\"}</script>\n \n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"Reaction GIFs &raquo; Search Results for &#8220;asdadas&#8221; Feed\"
        href=\"http://www.reactiongifs.com/search/asdadas/feed/rss2/\"/>\n<link rel='stylesheet'
        id='post-plugin-css' href='http://www.reactiongifs.com/wp-content/plugins/post/post-plugin.css?ver=1'
        type='text/css' media='all'/>\n \n<script type=\"text/javascript\">\n\n\tvar
        _gaq = _gaq || [];\n\[...]
