<% placeholder = @tagline.try(:query) || "Search..." %>
<%= form_for :search, url: show_search_path, method: :get do |f| %>
    <div class="input-group">
      <%= f.text_field :query, placeholder: placeholder, class: 'form-control' %>
      <span class="input-group-btn">
        <%= f.submit 'Go!', class: 'btn btn-default' %>
      </span>
    </div>
<% end %>
