// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {
  background: white;
}

.dashboard .sidebar {
  margin-top: 0px;
  padding: 15px 0 0 0;
}