/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #339933;

  position: fixed;
  z-index: 9999;
  top: 50px;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 5px;
  height: 100%;
  box-shadow: 0 0 3px #29d, 0 0 2px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -1px);
      -ms-transform: rotate(3deg) translate(0px, -1px);
          transform: rotate(3deg) translate(0px, -1px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
