// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_result {
  background: white;
  margin: 5px;
  box-shadow: 6px 6px 16px 6px rgba(50, 50, 50, 0.5);
  object {
    padding: 10px 10px;
    width: 100%;
  }
}